<div class="dashboard" style="background-image: url(./assets/images/baner1.jpg);">
  <!-- <img src="./assets/images/banner1.jpg" class="bg"> -->
  <div class="event">
    <ul>
      <li style="background: url(./assets/images/vay-tin-chap.png) no-repeat;background-position: left -50px top 50%;
      background-size: 135px;"><a routerLink="/" style="margin-left: 80px;">vay nhanh</a></li>
      <li style="background: url(./assets/images/vay-mua-nha.png) no-repeat; background-position: left -18px top 50%;
      background-size: 75px;"><a routerLink="/" style="margin-left: 50px;">vay mua nhà</a></li>
      <li style="background: url(./assets/images/vay-mua-xe.png) no-repeat; background-position: left -61px top 50%;
      background-size: 120px;"><a routerLink="/" style="margin-left: 50px;">vay mua xe</a></li>
      <li style="background: url(./assets/images/the-tin-dung.png) no-repeat; background-position: left -83px top 50%;
      background-size: 150px; padding-right: 0 !important;"><a routerLink="/" style="margin-left: 55px;">thẻ tín dụng</a></li>
    </ul>
  </div>
</div>
