.user-management {
  width: 100%;
  height: calc(100vh - 140px);
  overflow: hidden;
  display: flex;

  .aside-user {
      width: 250px;
      height: calc(100vh - 140px);
      overflow: hidden;
  }

  .content-user {
      width: calc(100% - 250px);
      background-color: #fff;
      padding: 0;
      overflow: auto;
  }
}
:host {
width: 100%;
}
