.form-exchange {
    width: 100%;
    display: flex;

    .left-exchange {
        width: calc(100% - 400px);
    }

    .right-exchange {
        width: 400px;
        min-height: 200px;
    }
}
.wi-90 {
    width: 90px;
}
.wi-120 {
  width: 120px;
}
.accouunt-info {
  min-height: 60px;
}
