<div class="exchange container">
  <h1 class="title d-flex align-items-center justify-content-center">{{ 'EXCHANGE.SEC' | translate }}</h1>
  <div class="title-content">{{ 'NGUON' | translate }}</div>
  <div>
    <mat-card>
      <form [formGroup]="form1">
        <div>
          <div class="label-left">{{ 'TP' | translate }}</div>
          <ng-select
            [items]="items"
            [clearable]="false"
            placeholder="{{ 'TP' | translate }}"
            formControlName="selectPT"
            class="select"
            bindLabel="label"
            bindValue="id"
            [searchable]="false"
          >
          </ng-select>
        </div>
        <div *ngIf="account$ | async as _account">
          <div>
            <div class="label-left">{{ 'CHOISE_STK' | translate }}</div>
            <ng-select
              [items]="account"
              [clearable]="false"
              placeholder="{{ 'CHOISE_STK' | translate }}"
              formControlName="stk"
              class="select"
              bindLabel="stk"
              bindValue="id"
              [searchable]="false"
              (change)="changeI1($event)"
            >
            </ng-select>
          </div>
        </div>
        <div>
          <div class="label-left">{{ 'SD' | translate }}</div>
          <div class="text-center w-200 d-inline-block">{{ formatNumber(soDu) }} VNĐ</div>
        </div>
      </form>
    </mat-card>
  </div>
  <div class="title-content">{{ 'EXCHANGE.TT' | translate }}</div>
  <mat-card>
    <form [formGroup]="formId">
      <div>
        <div class="label-left">{{ 'EXCHANGE.NAME_NHAN' | translate }}</div>
        <input type="text" class="input select" formControlName="name" required placeholder="{{ 'EXCHANGE.NAME_NHAN' | translate }}"/>
      </div>
      <div>
        <div class="label-left">{{ 'CMND' | translate }}</div>
        <input type="text" class="input select" formControlName="cmnd" required placeholder="{{ 'CMND' | translate }}"/>
      </div>
      <div>
        <div class="label-left">{{ 'EXCHANGE.MONEY' | translate }}</div>
        <input type="text" class="input select" formControlName="money" (keyup)="onKeyMoney()" required placeholder="{{ 'EXCHANGE.MONEY' | translate }}"/>
      </div>
    </form>
  </mat-card>
  <div class="button-next">
    <div (click)="next()" class="next">{{ 'COMMON.BTN.NEXT' | translate }}</div>
  </div>
  
</div>
