<div class="container">
	<mat-card>
		<h1 class="d-flex align-items-center justify-content-center">Thông tin khách hàng</h1>
		<div class="content">
			<mat-card>
				<mat-card-title>Hồ sơ</mat-card-title>
				<mat-list>
					<mat-list-item>
						<div class="d-inline w-25">Tên</div><div class="d-inline">áldalsjdls</div>
					</mat-list-item>
					<mat-divider></mat-divider>
					<mat-list-item>
						<div class="d-inline w-25">Ngày sinh</div><div class="d-inline">áldalsjdls</div>
					</mat-list-item>
					<mat-divider></mat-divider>
					<mat-list-item>
						<div class="d-inline w-25">Giới tính</div><div class="d-inline">áldalsjdls</div>
					</mat-list-item>
					<mat-divider></mat-divider>
					<mat-list-item>
						<div class="d-inline w-25">Ảnh</div><div class="d-inline">áldalsjdls</div>
					</mat-list-item>
					<mat-divider></mat-divider>
				</mat-list>
			</mat-card>
			<br>
			<mat-card>
				<mat-card-title>Thông tin liên hệ</mat-card-title>
				<mat-list>
					<mat-list-item>
						<div class="d-inline w-25">Email</div><div class="d-inline">áldalsjdls</div>
					</mat-list-item>
					<mat-divider></mat-divider>
					<mat-list-item>
						<div class="d-inline w-25">Số điện thoại</div><div class="d-inline">áldalsjdls</div>
					</mat-list-item>
					<mat-divider></mat-divider>
					<mat-list-item>
						<div class="d-inline w-25">Địa chỉ</div><div class="d-inline">áldalsjdls</div>
					</mat-list-item>
					<mat-divider></mat-divider>
				</mat-list>
			</mat-card>
		</div>
	</mat-card>
</div>