.body-chat {
  max-height: 60vh;
  overflow-y: auto;
  padding: 0 30px;
}
.mess {
  border-radius: 36px;
  padding: 10px 20px;
  background-color: #3578e5;
  width: fit-content;
}
.form-group {
  margin-bottom: 5px;
}
