.user {
  padding: 1rem;
//   min-height: 900px;
overflow: hidden;
}
.kt-form {
  padding: 1rem;
}
.link-tstc {
  cursor: pointer;
  color: red;
  font-style: italic;
  text-decoration: underline;
}
.remove {
  cursor: pointer;
  color: red;
}
