.select {
    width: 300px;
    margin-right: 15px;
}
.mat-column-date2 {
    flex: 0 0 250px;
}
.mat-column-status1 {
    flex: 0 0 140px;
}
.mat-column-status2 {
    flex: 0 0 110px;
    padding-right: 5px;
}
.mat-column-name, .mat-column-info, .mat-column-date1, .mat-column-date2 {
    justify-content: flex-start;
}