<ng-container *ngIf="user$ | async as _user">
  <div class="topbar-item" data-placement="bottom">
    <div class="btn btn-icon w-auto btn-clean d-flex align-items-center btn-lg px-2" ngbTooltip="Thông tin khách hàng">
      <a href="javascript:;" routerLink="/user-detail" class="user-name text-dark-50 font-weight-bolder font-size-base d-none d-md-inline mr-3">
        {{ _user.fullname }}
      </a>
    </div>
    <a class="logout font-size-base d-none d-md-inline mr-3" (click)="logout()">{{ 'COMMON.BTN.SIGN_OUT' | translate }}</a>
  </div>
</ng-container>
<ng-container *ngIf="!isHasLogin">
  <div class="topbar-item" data-placement="bottom">
    <div class="btn btn-icon w-auto btn-clean d-flex align-items-center btn-lg px-2">
      <a class="logout font-size-base d-none d-md-inline mr-3" (click)="login()">{{ 'COMMON.BTN.SIGN_IN' | translate }}</a>
    </div>
  </div>
</ng-container>