<div class="contact">
  <div class="baner">
    <img src="./assets/images/baner1.jpg" alt="" class="w-100">
  </div>
  <div class="container">
    <h1 class="title">Giới thiệu về FPT Bank</h1>
    <div class="content">
      <h4>Lịch sử hình thành và phát triển</h4>
      <div class="div-text">
        Ngân hàng FPT Bank được thành lập ngày 12/8/1993. Sau gần 27 năm hoạt động, FPT Bank đã phát triển mạng lưới lên
        227 điểm giao dịch với đội ngũ gần 27.000 cán bộ nhân viên. Hết năm 2019, tổng thu nhập hoạt động đạt 36.356 tỷ
        đồng, tăng 20,3% so với cùng kỳ. Lợi nhuận trước thuế đạt mức cao nhất trong lịch sử 10.324 tỷ đồng, vượt 9% kế
        hoạch và tăng 12,3% so với năm 2018.
        FPT Bank đang từng bước khẳng định uy tín của một ngân hàng năng động, có năng lực tài chính ổn định và có trách
        nhiệm với cộng đồng.
      </div>
      <div class="div-text">
        Sự tăng trưởng vượt bậc của FPT Bank thể hiện sinh động ở mức độ mở rộng mạng lưới các chi nhánh, điểm giao dịch
        trên toàn quốc cùng sự phát triển đa dạng của các kênh bán hàng và phân phối.
      </div>
      <div class="div-text">
        Bên cạnh đó, theo định hướng “Khách hàng là trọng tâm”, các điểm giao dịch đã được thay đổi hoàn toàn về diện
        mạo, mô hình và tiện nghi phục vụ. Các sản phẩm, dịch vụ của FPT Bank luôn được cải tiến và kết hợp thêm nhiều
        tiện ích nhằm gia tăng quyền lợi cho khách hàng... Liên kết với nhiều đối tác lớn trên các lĩnh vực như Vinmec,
        Be Group, Bestlife, FTU, Flywire, Opes…FPT Bank đã và đang đưa khách hàng bắt kịp xu thế, trải nghiệm những tiện
        ích hiện đại, đẳng cấp. Tất cả đã góp phần làm hài lòng khách hàng hiện tại và thu hút thêm khách hàng mới, mở
        rộng tập khách hàng của FPT Bank cả về độ lớn và thời gian gắn bó với tốc độ nhanh chóng.
      </div>
      <div class="div-text">
        Ngân hàng luôn đi đầu thị trường trong việc ứng dụng công nghệ thông tin tiên tiến trong các sản phẩm, dịch vụ
        và hệ thống vận hành. Cùng với việc xây dựng môi trường văn hóa doanh nghiệp vững mạnh, hiệu quả, các hệ thống
        quản trị nhân sự cốt lõi đã được xây dựng và triển khai thành công tại FPT Bank. Bên cạnh đó, Ngân hàng đã từng
        bước phát triển một hệ thống quản trị rủi ro độc lập, tập trung và chuyên môn hóa, đáp ứng chuẩn mực quốc tế và
        gắn kết với chiến lược kinh doanh của Ngân hàng. Song song với việc thực thi những thông lệ quốc tế tốt nhất về
        quản trị doanh nghiệp, FPT Bank cũng không ngừng hoàn thiện cơ cấu tổ chức theo chính sách quản trị công ty rõ
        ràng và minh bạch.
      </div>
      <div class="div-text">
        Với những nỗ lực không ngừng, thương hiệu của FPT Bank đã trở nên ngày càng vững mạnh và được khẳng định qua
        nhiều giải thưởng uy tín trong nước và quốc tế. Năm 2017, với việc nhận được liên tiếp 20 giải thưởng danh giá,
        FPT Bank chạm đích thành công và hoàn thành xuất sắc kế hoạch 5 năm (2012 - 2017). FPT Bank nằm trong Top 3 Ngân
        hàng TMCP do Vietnam Report vinh danh và được bình chọn là Nơi làm việc hạnh phúc nhất. Năm 2018, nhận về liên
        tiếp 12 giải thưởng về các sản phẩm, dịch vụ, thương hiệu,… FPT Bank hoàn toàn xứng đáng với danh hiệu do
        Vietnam Report bình chọn - Top 10 doanh nghiệp tư nhân lớn nhất Việt Nam.
      </div>
      <div class="div-text">
        Năm 2019, Tạp chí The Asian Banker đã trao tặng FPT Bank là “Ngân hàng tốt nhất dành cho SME” tại Việt Nam. Được
        Brand Finance định giá 354 triệu đô la Mỹ, thương hiệu FPT Bank đứng thứ 361, là Ngân hàng tư nhân Việt Nam đầu
        tiên và duy nhất được vinh danh trong “Top 500 ngân hàng có giá trị thương hiệu cao nhất toàn cầu”. FPT Bank
        được Tổ chức đánh giá nhân sự châu Á (HR Asia) bình chọn là một trong những "Nơi làm việc tốt nhất Châu Á" bên
        cạnh các tập đoàn đa quốc gia như Nestle, Heineken, Deloitte,... Và dựa trên các tiêu chí về năng lực tài chính,
        uy tín trên truyền thông và mức độ hài lòng của khách hàng, FPT Bank vinh dự thuộc Top 10 Ngân hàng thương mại
        Việt Nam uy tín 2019, Top 10 Ngân hàng TMCP tư nhân uy tín 2019.
      </div>
      <div class="div-text">
        Đầu năm 2020, Tạp chí The Asset, ấn phẩm uy tín hàng đầu về tài chính tại thị trường châu Á, công bố FPT Bank là
        Tổ chức phát hành trái phiếu nước ngoài tốt nhất châu Á và Tổ chức Việt Nam đầu tiên phát hành thành công trái
        phiếu USD trên thị trường vốn quốc tế kể từ năm 2014. Bên cạnh đó, trong tháng 2 vừa qua, thứ hạng thương hiệu
        của FPT Bank đã tăng 81 bậc, vượt lên vị trí thứ 280, và trở thành ngân hàng tư nhân Việt Nam đầu tiên lọt vào
        Top 300 ngân hàng có giá trị thương hiệu nhất thế giới, theo bảng xếp hạng của Brand Finance.
      </div>
      <div class="div-text">
        Những giải thưởng trong nước, quốc tế một lần nữa khẳng định chất lượng sản phẩm, dịch vụ, uy tín và sức cạnh
        tranh nổi bật của FPT Bank trên thị trường tài chính, ngân hàng tại Việt Nam, đồng thời khẳng định định hướng
        phát triển đúng đắn của Ngân hàng trong thời gian qua. Trong thời gian tới, FPT Bank sẽ tập trung đổi mới sản
        phẩm, dịch vụ, nhằm đem đến những lợi ích vượt trội cho Khách hàng và đặc biệt tập trung nâng cao chất lượng
        dịch vụ nhằm hướng tới một ngân hàng chuẩn quốc tế.
      </div>
    </div>
  </div>

</div>
