<div class="contact">
  <div class="baner">
    <img src="./assets/images/baner1.jpg" alt="" class="w-100">
  </div>
  <div class="container">
    <h1 class="title">FPT Bank đồng hành cùng khách hàng vì giao dịch an toàn – thuận tiện - nhanh chóng</h1>
    <div class="content">
      <h5>
        Kính gửi Quý khách hàng,
      </h5>
      <div>
        <label>Gói sản phẩm tài chính ưu đãi Vinhomes Times City Park Hill</label>
      </div>
      <div class="div-text">
        Với tư cách là đối tác chiến lược. Techcombank luôn kịp thời phối hợp cùng Chủ đầu tư Vingroup để mang đến cho
        quý khách hàng những gói sản phẩm tài chính ưu đãi nhất, phục vụ kịp thời nhu cầu sở hữu các căn hộ chung cư cao
        cấp hay biệt thự khi các dự án bắt đầu mở bán. Đặc biệt từ giai đoạn cuối tháng 3/2015, khi dự án Vinhomes Times
        City giai đoạn 2 bắt đầu được triển khai, Ngân hàng Techcombank đã ngay lập tức đưa ra gói Vinhomes Times City
        Park Hill dành cho quý khách hàng với nhiều điểm vượt trội như sau:
      </div>
      <div class="div-text ml-05">
        + Thời gian vay tối đa lên tới <span class="red">20 năm</span>.
      </div>
      <div class="div-text ml-05">
        + Giá trị khoản vay có thể lên tới <span class="red">70%</span> giá trị căn hộ, bao gồm một gói lãi suất hỗ trợ áp dụng cho <span class="red">40%</span> giá trị
        căn hộ (bao gồm cả VAT) dành cho khoản giải ngân trong tháng 5/2015:
      </div>
      <div class="div-text ml-10">
        - Lãi suất <span class="red">0%</span> trong 10 tháng đầu.
      </div>
      <div class="div-text ml-10">
        - Lãi suất ưu đãi <span class="red">cố định 8% </span>trong 2 tháng tiếp theo.
      </div>
      <div class="div-text ml-10">
        - Lãi suất <span class="red">cố định 10.5%</span> từ tháng 13 – tháng 24.
      </div>
      <div class="div-text ml-10">
        - Từ các tháng sau đó, lãi suất sẽ được tính bằng lãi suất cơ sở + biên độ <span class="red">4.38%/4.99%/5.99%</span> tùy theo xếp hạng
        của khách hàng.
      </div>
      <div class="div-text ml-10">
        - Chủ đầu tư sẽ <span class="red">thanh toán toàn bộ lãi vay</span> cho ngân hàng từ ngày giải ngân cho đến ngày 21/03/2016.
      </div>
      <div class="div-text ml-10">
        - Ân hạn gốc trong <span class="red">10</span> tháng đầu.
      </div>
      <div class="div-text ml-10">
        - Phí trả nợ trước hạn trong 10 tháng đầu: <span class="red">0%</span>; từ tháng 11-tháng 36: <span class="red">2%</span>; từ tháng thứ 37: <span class="red">miễn phí</span>.
      </div>
      <div class="div-text ml-05">
        + Việc phê duyệt thẩm định linh hoạt, tạo điều kiện cho khách hàng vay dễ dàng. Đặc biệt khách hàng ưu tiên của
        Techcombank có cơ hội được tham gia sản phẩm này với hạn mức phê duyệt trước và hồ sơ vay cực kỳ đơn giản.
      </div>
      <div class="div-text">
        Để được tư vấn chi tiết về gói sản phẩm ưu đãi của Techcombank và nhận các thông tin về dự án Vinhomes Times
        City Park Hill, xin Quý khách vui lòng liện hệ Chuyên viên quan hệ khách hàng cao cấp (RM Priority) đang phụ
        trách khách hàng hoặc gọi tới hotline Priority 1800588823.
      </div>
    </div>
  </div>
</div>
