<div class="d-flex flex-column-fluid flex-center mt-30 mt-lg-0">
	<!--begin::Signup-->
	<div class="login-form login-signup" style="display: block;">
		<div class="text-center mb-10 mb-lg-20">
			<h3 class="font-size-h1">Sign Up</h3>
			<p class="text-muted font-weight-bold">Enter your details to create your account</p>
		</div>

		<kt-auth-notice></kt-auth-notice>

		<form class="form" [formGroup]="registerForm" autocomplete="off">
			<div class="form-group">
				<mat-form-field>
					<mat-label>username</mat-label>
					<input matInput type="text" placeholder="username" formControlName="username" />
				</mat-form-field>
			</div>
			<div class="form-group">
				<mat-form-field>
					<mat-label>email</mat-label>
					<input matInput type="email" placeholder="email" formControlName="email" />
				</mat-form-field>
			</div>
			<div class="form-group">
				<mat-form-field>
					<mat-label>Fullname</mat-label>
					<input matInput type="text" placeholder="Fullname" formControlName="fullname" />
				</mat-form-field>
			</div>
			<div class="form-group">
				<mat-form-field>
					<mat-label>birthday</mat-label>
					<input matInput type="text" placeholder="birthday" formControlName="birthday" />
				</mat-form-field>
			</div>
			<div class="form-group">
				<mat-form-field>
					<mat-label>address</mat-label>
					<input matInput type="text" placeholder="address" formControlName="address" />
				</mat-form-field>
			</div>
			<div class="form-group">
				<mat-form-field>
					<mat-label>CMND/CCCD/Hộ chiếu</mat-label>
					<input matInput type="text" placeholder="CMND/CCCD/Hộ chiếu" formControlName="idCardNumber" />
				</mat-form-field>
			</div>
			<div class="form-group">
				<mat-form-field>
					<mat-label>phone</mat-label>
					<input matInput type="text" placeholder="phone" formControlName="phone" />
				</mat-form-field>
			</div>
			<div class="form-group">
				<mat-form-field>
					<mat-label>Fullname</mat-label>
					<input matInput type="text" placeholder="Fullname" formControlName="fullname" />
				</mat-form-field>
			</div>
			<div class="form-group">
				<mat-form-field>
					<mat-label>image</mat-label>
					<input matInput type="text" placeholder="image" formControlName="image" />
				</mat-form-field>
			</div>
			<div class="form-group">
				<mat-form-field>
					<mat-label>membershipId</mat-label>
					<input matInput type="text" placeholder="membershipId" formControlName="membershipId" />
				</mat-form-field>
			</div>
			<div class="form-group">
				<mat-checkbox name="agree" formControlName="agree">
					I agree the <a href="javascript:;">terms & conditions</a>
				</mat-checkbox>
			</div>

			<!--begin::Action-->
			<div class="form-group d-flex flex-wrap flex-center">
				<button (click)="submit()" id="kt_login_signup_submit"
					class="btn btn-primary font-weight-bold px-9 py-4 my-3 mx-4"
					[ngClass]="{'spinner spinner-right spinner-md spinner-light': loading}">{{ 'AUTH.GENERAL.SUBMIT_BUTTON' | translate }}</button>
				<a href="/auth/login" id="kt_login_signup_cancel"
					class="btn btn-light-primary font-weight-bold px-9 py-4 my-3 mx-4">Cancel</a>
			</div>
			<!--end::Action-->
		</form>
	</div>
	<!--end::Signup-->
</div>