<div class="exchange">
  <h1 class="title d-flex align-items-center justify-content-center">ĐĂNG KÍ VAY TIỀN FPT BANK</h1>
  <div class="title-content">Thông tin vay tiền</div>
  <mat-card>
    <form [formGroup]="formId">
      <div>
        <div class="label-left">Họ và tên</div>
        <input type="text" class="input select" formControlName="idBank" required />
      </div>
      <div>
        <div class="label-left">Số điện thoại</div>
        <input type="text" class="input select" formControlName="money" required />
      </div>
      <div>
        <div class="label-left">địa chỉ</div>
        <input type="text" class="input select" formControlName="note" required />
      </div>
      <div>
        <div class="label-left">Số CMND/Hộ chiếu</div>
        <input type="text" class="input select" formControlName="idBank" required />
      </div>
     
      <div>
        <div class="label-left">Số tiền cần vay</div>
        <input type="text" class="input select" formControlName="note" required />
      </div>
      <div>
        <div class="label-left">Thời gian vay</div>
        <input type="text" class="input select" formControlName="note" required />
      </div>
      <div>
        <div class="label-left">Lãi suất</div>
        <input type="text" class="input select" formControlName="note" required />
      </div>
      <div>
        <div class="label-left">Giấy tờ xác minh</div>
        <input type="text" class="input select" formControlName="note" required />
      </div>
    </form>
  </mat-card>
  <!-- <div class="button-next"><div (click)="next()" class="next">Tiếp tục</div></div> -->
</div>
