<div class="exchange">
  <h1 class="title d-flex align-items-center justify-content-center">ĐĂNG KÍ VAY TIỀN FPT BANK</h1>
  <div class="title-content">Thông tin vay tiền</div>
  <div class="kt-margin-bottom-20-mobile form-group">
    <mat-card>
      <form [formGroup]="formId">
        <div class="col-lg-8 offset-md-2 kt-margin-bottom-20-mobile form-group">
          <label>{{ 'SO_TIEN_VAY' | translate }} <span class="text-danger">*</span></label>
          <input
            type="text"
            class="form-control"
            formControlName="amount"
            (keyup)="onKeyMoney()"
            placeholder="{{ 'SO_TIEN_VAY' | translate }}"
            onkeydown="return event.key != 'Enter';"
          />
        </div>
        <div class="col-lg-8 offset-md-2 kt-margin-bottom-20-mobile form-group">
          <label>{{ 'MD_VAY' | translate }} <span class="text-danger">*</span></label>
          <input
            type="text"
            class="form-control"
            formControlName="description"
            placeholder="{{ 'MD_VAY' | translate }}"
            onkeydown="return event.key != 'Enter';"
          />
        </div>
        <div class="col-lg-8 offset-md-2 kt-margin-bottom-20-mobile form-group" *ngIf="loans.length !== 0">
          <label>{{ 'TIME_VAY' | translate }} <span class="text-danger">*</span></label>
          <div>
            <ng-select
              [items]="loans"
              [clearable]="false"
              placeholder="{{ 'CHOISE_STK' | translate }}"
              formControlName="time"
              class="select"
              bindLabel="months"
              bindValue="id"
              [searchable]="false"
              (change)="changeLs()"
            >
            </ng-select>
          </div>
        </div>

        <div class="col-lg-8 offset-md-2 kt-margin-bottom-20-mobile form-group">
          <label>{{ 'LAI_SUAT' | translate }} <span class="text-danger">*</span></label>
          <input
            type="text"
            class="form-control"
            formControlName="ls"
            placeholder="{{ 'LAI_SUAT' | translate }}"
            onkeydown="return event.key != 'Enter';"
          />
        </div>
        <div class="col-lg-8 offset-md-2 kt-margin-bottom-20-mobile form-group" *ngIf="account.length !== 0">
          <label>{{ 'TK_GUI' | translate }} <span class="text-danger">*</span></label>
          <div>
            <ng-select
              [items]="account"
              [clearable]="false"
              placeholder="{{ 'TK_NHAN' | translate }}"
              formControlName="tk"
              class="select"
              bindLabel="stk"
              bindValue="id"
              [searchable]="false"
            >
            </ng-select>
          </div>
        </div>
        <div class="col-lg-8 offset-md-2 kt-margin-bottom-20-mobile form-group" *ngIf="chiNhanh.length !== 0">
          <label>{{ 'CHI_NHANH' | translate }} <span class="text-danger">*</span></label>
          <div>
            <ng-select
              [items]="chiNhanh"
              [clearable]="false"
              placeholder="{{ 'CHI_NHANH' | translate }}"
              formControlName="chinhanh"
              class="select"
              bindLabel="name"
              bindValue="id"
              [searchable]="false"
            >
            </ng-select>
          </div>
        </div>
      </form>
    </mat-card>
  </div>
  <div class="kt-margin-bottom-20-mobile form-group d-flex justify-content-end">
    <button type="submit" mat-raised-button color="primary" type="button" (click)="submit()">
      {{ 'CREATE_VAY' | translate }}
    </button>
  </div>
  <!-- <div class="button-next"><div (click)="next()" class="next">Tiếp tục</div></div> -->
</div>
