.title {
  height: 40px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #ed1c24;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
.title-content {
  color: #ed1c24;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.exchange {
  // background: #F3F4F4;
  padding: 1rem;
}
.label-left {
  width: 200px;
  display: inline-block;
  padding: 15px;
  text-align: right;
}
.select {
  flex: 0 0 50%;
  max-width: 100%;
}
.w-200 {
  width: 200px;
}

.button-next {
  margin-top: 25px;
  padding: 1rem;
  width: 100%;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .next {
      background-color: #ed1c24;
      height: 32px;
      min-width: 90px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: #fff;
      font-size: 18px;
  }
}
.popup {
  position: absolute;
  z-index: 11;
  width: 450px;
  height: 180px;
  left: calc(50% - 220px);
  top: calc(40% - 75px);
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;

  .title-popup {
      height: 32px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 1;
      background-color: #ed1c24;
      font-size: 18px;
      font-weight: bold;
      color: #fff;
  }

  .select {
      margin: 25px auto;
      display: flex;
  }

  .box-button {
      width: 100%;
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;

      .button-popup {
          min-width: 90px;
          height: 32px;
          border: 1px solid #ccc;
          border-radius: 4px;
          color: #000;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 10px;
          cursor: pointer;
      }
      .next {
          background-color: #ed1c24;
          color: #fff;
          font-size: 18px;
      }
  }
}
