<div class="exchange">
  <h1 class="title d-flex align-items-center justify-content-center">{{ 'EXCHANGE.IN' | translate }}</h1>
  <div class="title-content">{{ 'NGUON' | translate }}</div>
  <div>
    <mat-card>
      <form [formGroup]="form1">
        <div>
          <div class="label-left">{{ 'TP' | translate }}</div>
          <ng-select
            [items]="items"
            [clearable]="false"
            placeholder="{{ 'TP' | translate }}"
            formControlName="selectPT"
            class="select"
            bindLabel="label"
            bindValue="id"
            [searchable]="false"
          >
          </ng-select>
        </div>
        <div *ngIf="account$ | async as _account">
          <div>
            <div class="label-left">{{ 'CHOISE_STK' | translate }}</div>
            <ng-select
              [items]="account"
              [clearable]="false"
              placeholder="{{ 'CHOISE_STK' | translate }}"
              formControlName="stk"
              class="select"
              bindLabel="stk"
              bindValue="id"
              [searchable]="false"
              (change)="changeI1($event)"
            >
            </ng-select>
          </div>
        </div>
        <div>
          <div class="label-left">{{ 'SD' | translate }}</div>
          <div class="text-center w-200 d-inline-block">{{ formatNumber(soDu) }} VNĐ</div>
        </div>
      </form>
    </mat-card>
  </div>
  <div class="title-content">{{ 'EXCHANGE.TT' | translate }}</div>
  <mat-card>
    <form [formGroup]="formId">
      <div>
        <div class="label-left">{{ 'EXCHANGE.NHAN' | translate }}</div>
        <input type="text" class="input select" formControlName="idBank" (keyup)="onKeyBank()" required placeholder="{{ 'EXCHANGE.NHAN' | translate }}"/>
      </div>
      <div>
        <div class="label-left">{{ 'EXCHANGE.NAME_NHAN' | translate }}</div>
        <div class="select" *ngIf="userExchange$ | async as _ussr">{{ name }}</div>
      </div>
      <div>
        <div class="label-left">{{ 'EXCHANGE.MONEY' | translate }}</div>
        <input type="text" class="input select" formControlName="money" (keyup)="onKeyMoney()" required placeholder="{{ 'EXCHANGE.MONEY' | translate }}"/>
      </div>
      <div>
        <div class="label-left">{{ 'EXCHANGE.NOTE' | translate }}</div>
        <input type="text" class="input select" formControlName="note" required placeholder="{{ 'EXCHANGE.NOTE' | translate }}"/>
      </div>
    </form>
  </mat-card>
  <div class="button-next">
    <div (click)="next()" class="next">{{ 'COMMON.BTN.NEXT' | translate }}</div>
  </div>
  <div class="popup" *ngIf="show">
    <div class="title-popup">{{ 'IN_PASSWORD' | translate }}</div>
    <form [formGroup]="formPass">
      <input type="password" class="input select" formControlName="password" required />
    </form>
    <div class="box-button">
      <div class="button-popup" (click)="cancel()">{{ 'COMMON.BTN.CANCEL' | translate }}</div>
      <div class="button-popup next" (click)="submit()">{{ 'COMMON.BTN.NEXT' | translate }}</div>
    </div>
  </div>
  <div class="popup" *ngIf="show2">
    <div class="title-popup">{{ 'IN_OTP' | translate }}</div>
    <form [formGroup]="formPass2">
      <input type="password" class="input select" formControlName="password2" required />
    </form>
    <div class="box-button">
      <div class="button-popup" (click)="cancel()">{{ 'COMMON.BTN.CANCEL' | translate }}</div>
      <div class="button-popup next" (click)="submit2()">{{ 'COMMON.BTN.CANCEL' | translate }}</div>
    </div>
  </div>
</div>
