<div class="exchange">
  <h1 class="title d-flex align-items-center justify-content-center">Chuyển khoản trong ngân hàng</h1>
  <div class="title-content">Tài khoản nguồn</div>
  <div>
    <mat-card>
      <div>
        <div class="label-left">Số tài khoản</div>
        <ng-select
          [items]="items"
          placeholder="Chọn tài khoản gửi tiền"
          [clearable]="clearable"
          [ngModel]="ngModelValue"
          class="select"
          [bindLabel]="label"
          [bindValue]="id"
          [searchable]="false"
        >
        </ng-select>
      </div>
      <div>
        <div class="label-left">Số dư:</div>
        <div class="text-center w-200 d-inline-block">0 VNĐ</div>
      </div>
    </mat-card>
  </div>
  <div class="title-content">Thông tin giao dịch</div>
  <mat-card>
    <div>
      <div class="label-left">Phương thức chuyển khoản</div>
      <div class="select">
        <ng-select
          [items]="items"
          placeholder="Chọn phương thức chuyển tiền"
          [clearable]="clearable"
          [ngModel]="ngModelValue"
          [bindLabel]="label"
          [bindValue]="id"
          [searchable]="false"
        >
        </ng-select>
      </div>
    </div>
    <div>
        <div class="label-left">Nhập tài khoản nhận tiền</div>
        <input type="text" class="input select">
    </div>
    <div>
      <div class="label-left">Nhập số tiền cần chuyển</div>
        <input type="text" class="input select">
    </div>
    <div>
      <div class="label-left">Nhập nội dung chuyển tiền</div>
        <input type="text" class="input select">
    </div>
  </mat-card>
  <div>
    
  </div>
</div>
