<kt-portlet>
	<kt-portlet-header [title]="'Danh sách giao dịch'" [class]="'card-head-lg'">
		<ng-container ktPortletTools>
		</ng-container>
	</kt-portlet-header>

	<kt-portlet-body>
		<div class="mat-table__wrapper">
			<mat-table class="lmat-elevation-z8"
				#table
				[dataSource]="account.transactions"
				*ngIf="dataSource$ | async as account">

				<ng-container matColumnDef="id">
					<mat-header-cell *matHeaderCellDef>STT</mat-header-cell>
					<mat-cell *matCellDef="let account">{{account.id}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="amount">
					<mat-header-cell *matHeaderCellDef>số tiền giao dịch</mat-header-cell>
					<mat-cell *matCellDef="let account">{{account.amount}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="type">
					<mat-header-cell *matHeaderCellDef>loại giao dịch</mat-header-cell>
					<mat-cell *matCellDef="let account">{{getType(account.amount)}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="amountAfter">
					<mat-header-cell *matHeaderCellDef>số dư sau giao dịch</mat-header-cell>
					<mat-cell *matCellDef="let account">{{account.amountAfterTransaction}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="date">
					<mat-header-cell *matHeaderCellDef>ngày giao dịch</mat-header-cell>
					<mat-cell *matCellDef="let account">{{account.createdAt}}</mat-cell>
				</ng-container>

				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

				<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
			</mat-table>
		</div>
		<div class="mat-table__bottom" *ngIf="dataSource$ | async as dataSource">
			<mat-paginator [pageSize]="10" [pageSizeOptions]="[10]" [length]="dataSource.totalTransaction" [showFirstLastButtons]="true"></mat-paginator>
		</div>
	</kt-portlet-body>
</kt-portlet>
