<kt-portlet>
	<kt-portlet-header [title]="'Danh sách giao dịch'" [class]="'card-head-lg'">
		<ng-container ktPortletTools>
		</ng-container>
	</kt-portlet-header>

	<kt-portlet-body>
		<div class="form kt-margin-b-30">
			<div class="form-filtration">
				<div class="row align-items-center">
					<div class="col-md-2 kt-margin-bottom-10-mobile">
						<mat-form-field class="mat-form-field-fluid">
							<input matInput placeholder="Search user" #searchInput placeholder="Search">
							<mat-hint align="start">
								<strong>Search</strong> in all fields
							</mat-hint>
						</mat-form-field>
					</div>
				</div>
			</div>
		</div>
		<div class="mat-table__wrapper">
			<mat-table class="lmat-elevation-z8"
				#table
				[dataSource]="data"
				matSort
				#sort1="matSort"
				matSortActive="id"
				matSortDirection="asc"
				matSortDisableClear>

				<ng-container matColumnDef="id">
					<mat-header-cell *matHeaderCellDef mat-sort-header>số thứ tự</mat-header-cell>
					<mat-cell *matCellDef="let account">{{account.id}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="amount">
					<mat-header-cell *matHeaderCellDef mat-sort-header>số tiền giao dịch</mat-header-cell>
					<mat-cell *matCellDef="let account">{{account.amount}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="type">
					<mat-header-cell *matHeaderCellDef mat-sort-header>loại giao dịch</mat-header-cell>
					<mat-cell *matCellDef="let account">{{getType(account.amount)}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="amountAfter">
					<mat-header-cell *matHeaderCellDef mat-sort-header>số dư sau giao dịch</mat-header-cell>
					<mat-cell *matCellDef="let account">{{account.card.amountAfterTransaction}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="date">
					<mat-header-cell *matHeaderCellDef mat-sort-header>ngày giao dịch</mat-header-cell>
					<mat-cell *matCellDef="let account">{{account.card.createdAt}}</mat-cell>
				</ng-container>

				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

				<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
			</mat-table>
		</div>
		<div class="mat-table__bottom">
			<mat-spinner [diameter]="20"></mat-spinner>
			<mat-paginator [pageSize]="10" [pageSizeOptions]="[3, 5, 10]" [length]="10" [showFirstLastButtons]="true"></mat-paginator>
		</div>
	</kt-portlet-body>
</kt-portlet>