<div class="">
  <kt-portlet>
    <kt-portlet-header title="{{ 'COMMON.BTN.LISTHSV' | translate }}" [class]="'card-head-lg'">
      <ng-container ktPortletTools> </ng-container>
    </kt-portlet-header>

    <kt-portlet-body>
      <div *ngIf="!disabled">
        <label>Danh sách chi nhánh<span class="text-danger">*</span></label>
        <ng-select
          [items]="chinhanhs"
          [clearable]="false"
          placeholder="{{ 'Chi nhánh' | translate }}"
          class="select"
          bindLabel="value"
          bindValue="id"
          [searchable]="false"
          *ngIf="chinhanhs.length != 0"
          (change)="change($event)"
        >
        </ng-select>
      </div>
      <div class="d-flex justify-content-end">
        <button type="submit" mat-raised-button color="primary" (click)="createHsvt()">
          {{ 'CREATE' | translate }}
        </button>
      </div>
      <div class="mat-table__wrapper">
        <mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource.items">
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
            <mat-cell *matCellDef="let account">FPTV07{{ account.id }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="amount">
            <mat-header-cell *matHeaderCellDef>Số tiền vay</mat-header-cell>
            <mat-cell *matCellDef="let account">{{ getAmount(account.amount) }} VNĐ</mat-cell>
          </ng-container>

          <ng-container matColumnDef="date">
            <mat-header-cell *matHeaderCellDef>Thời gian vay</mat-header-cell>
            <mat-cell *matCellDef="let account">{{ account.loanInterestRate.months }} tháng</mat-cell>
          </ng-container>

          <ng-container matColumnDef="lai">
            <mat-header-cell *matHeaderCellDef>Lãi suất</mat-header-cell>
            <mat-cell *matCellDef="let account">{{ account.loanInterestRate.interestRate }} %</mat-cell>
          </ng-container>

          <ng-container matColumnDef="date2">
            <mat-header-cell *matHeaderCellDef>Ngày tạo</mat-header-cell>
            <mat-cell *matCellDef="let account">{{ account.createdAt }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="tstc">
            <mat-header-cell *matHeaderCellDef>Tài sản thế chấp</mat-header-cell>
            <mat-cell *matCellDef="let account">
              <ng-container *ngFor="let tstc of account.assets">
                <a>
                  {{ tstc.name }}
                </a>
              </ng-container>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef>Trạng thái</mat-header-cell>
            <mat-cell *matCellDef="let account">{{ getStatus(account) }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef>Lý do vay</mat-header-cell>
            <mat-cell *matCellDef="let account">{{ account.description }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef>ACTIONS</mat-header-cell>
            <mat-cell *matCellDef="let account">
              <button mat-icon-button color="primary" type="button" (click)="viewHsvt(account)">
                <mat-icon>toc</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
      </div>
      <div class="mat-table__bottom" *ngIf="dataSource">
        <mat-paginator
          [pageSize]="5"
          [pageIndex]="dataSource.pageNumber - 1"
          [pageSizeOptions]="[5]"
          (page)="pageEvent = setItems($event)"
          [length]="dataSource.totalCount"
          [showFirstLastButtons]="true"
        ></mat-paginator>
      </div>
    </kt-portlet-body>
  </kt-portlet>
</div>
