<div class="contact">
  <div class="baner">
    <img src="./assets/images/baner1.jpg" alt="" class="w-100">
  </div>
  <div class="container">
    <h1 class="title">Thông tin liên hệ</h1>
    <div class="content">
      <h4>Ngân hàng FPT Bank</h4>
      <div>
        <label>Trụ sở chính</label>
      </div>
      <div class="div-text">
        FPT Bank Tower, 191 Bà Triệu,
        P. Lê Đại Hành, Q. Hai Bà Trưng, Hà Nội
      </div>
      <div class="div-text">
        Tel: +84 (24) 3944 6368
      </div>
      <div class="div-text">
        Fax: +84 (24) 3944 6395
      </div>
      <div class="div-text">
        SWIFT code: VTCBVNVX
      </div>
      <div class="div-text">
        Giờ mở cửa:
      </div>
      <div class="div-text">
        Thứ 2 đến Thứ 6: 8h - 17h
      </div>
      <div class="div-text">
        Thứ 7: 8h - 12h
      </div>
    </div>
  </div>
</div>

