<div class="contact">
  <mat-card>
    <h1>Liên hệ</h1>
    <div class="row">
      <div class="col-6">
        Liên hệ
      </div>
      <div class="col-6">
        <div>
          Ngân hàng TMCP Việt Nam Thịnh Vượng VPBank
        </div>
        <div>
          Khi cần liên hệ trong trường hợp gấp, Quý khách vui lòng gọi đến số
        </div>
        <div>
          Hotline: 1900545415
        </div>
        <div>
        </div>
        Hoặc gửi email về chamsockhachhang@vpbank.com.vn
        <div>
          Địa chỉ: 89 Láng Hạ, Q Đống Đa, Hà Nội
        </div>
        <div>
          Tel: 0243.9288869
        </div>
        <div>
          Fax: 0243.9288867
        </div>
        <div>
          SWIFT code: VPBKVNVX
        </div>
        <div>
          Giờ mở cửa:
        </div>
        <div>
          Thứ 2 đến Thứ 6: 8h - 17h
        </div>
        <div>
          Thứ 7: 8h - 12h
        </div>
      </div>
    </div>
  </mat-card>
</div>
