:host {
    background-color: red;
}
ul {
    padding: 30px 10px;
    li {
        list-style: none;
        padding: 1rem 0;
        a {
            font-size: 18px;
            color: #000;
            // text-transform: uppercase;
        }
    }
}