.user-management {
    width: 100%;
    min-height: calc(100vh - 225px);
    display: flex;

    .aside-user {
        width: 200px;
    }

    .content-user {
        width: calc(100% - 200px);
    }
}