<div class="exchange container">
  <h1 class="title d-flex align-items-center justify-content-center">ĐỔI MẬT KHẨU</h1>
  <div class="kt-margin-bottom-20-mobile form-group">
    <mat-card>
      <form [formGroup]="formId">
        <div class="col-lg-8 offset-md-2 kt-margin-bottom-20-mobile form-group">
          <label>Mật khẩu cũ <span class="text-danger">*</span></label>
          <input
            type="password"
            class="form-control"
            formControlName="pass1"
            (keyup)="onKeyMoney()"
            placeholder="Mật khẩu cũ "
            onkeydown="return event.key != 'Enter';"
          />
        </div>
        <div class="col-lg-8 offset-md-2 kt-margin-bottom-20-mobile form-group">
          <label>Mật khẩu mới <span class="text-danger">*</span></label>
          <input
            type="password"
            class="form-control"
            formControlName="pass2"
            placeholder="Mật khẩu mới "
            onkeydown="return event.key != 'Enter';"
          />
        </div>
        <div class="col-lg-8 offset-md-2 kt-margin-bottom-20-mobile form-group">
            <label>Nhập lại mật khẩu mới<span class="text-danger">*</span></label>
            <input
              type="password"
              class="form-control"
              formControlName="pass3"
              placeholder="Nhập lại mật khẩu mới"
              onkeydown="return event.key != 'Enter';"
            />
          </div>
      </form>
    </mat-card>
  </div>
  <div class="kt-margin-bottom-20-mobile form-group d-flex justify-content-end">
    <button type="submit" mat-raised-button color="primary" type="button" (click)="change()">
      Đổi mật khẩu
    </button>
  </div>
  <!-- <div class="button-next"><div (click)="next()" class="next">Tiếp tục</div></div> -->
</div>
