<kt-portlet>
	<kt-portlet-header title="{{ 'EXCHANGE.SEC_HISTORY' | translate }}" [class]="'card-head-lg'">
		<ng-container ktPortletTools>
		</ng-container>
	</kt-portlet-header>

	<kt-portlet-body>
		<div>
			<div *ngIf="account$ | async as _account">
				<div class="label-left">{{ 'CHOISE_HISTORY' | translate }}</div>
					<ng-select
					[items]="_account"
					placeholder="Chọn tài khoản gửi tiền"
					[ngModel]="stk"
					class="select"
					bindLabel="accountNumber"
					bindValue="id"
					[searchable]="false"
					(change)="change($event)"
					>
					</ng-select>
			</div>
		</div>
		<div class="mat-table__wrapper">
			<mat-table class="lmat-elevation-z8"
				#table
				[dataSource]="account.items"
				*ngIf="dataSource$ | async as account">

				<ng-container matColumnDef="id">
					<mat-header-cell *matHeaderCellDef>STT</mat-header-cell>
					<mat-cell *matCellDef="let account; let i = index;">{{i + 1}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="key">
					<mat-header-cell *matHeaderCellDef>{{ 'EXCHANGE.KEY' | translate }}</mat-header-cell>
					<mat-cell *matCellDef="let account">{{account.id}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="amount">
					<mat-header-cell *matHeaderCellDef>{{ 'EXCHANGE.MONEYX' | translate }}</mat-header-cell>
					<mat-cell *matCellDef="let account">{{getAmount(account.amount)}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="type">
					<mat-header-cell *matHeaderCellDef>{{ 'EXCHANGE.TYPE' | translate }}</mat-header-cell>
					<mat-cell *matCellDef="let account">{{getType(account.amount)}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="amountAfter">
					<mat-header-cell *matHeaderCellDef>{{ 'EXCHANGE.SD_MONEY' | translate }}</mat-header-cell>
					<mat-cell *matCellDef="let account">{{formatNumber(account.amountAfterTransaction)}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="date">
					<mat-header-cell *matHeaderCellDef>{{ 'EXCHANGE.DATE' | translate }}</mat-header-cell>
					<mat-cell *matCellDef="let account">{{account.createdAt}}</mat-cell>
				</ng-container>

				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

				<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
			</mat-table>
		</div>
		<div class="mat-table__bottom" *ngIf="dataSource$ | async as dataSource">
			<mat-paginator [pageSize]="5" [pageIndex]="dataSource.pageNumber - 1" [pageSizeOptions]="[5]" (page)="pageEvent = setItems($event)" [length]="dataSource.totalCount" [showFirstLastButtons]="true"></mat-paginator>
		</div>
	</kt-portlet-body>
</kt-portlet>
