<kt-portlet >
	<kt-portlet-header [title]="'Danh sách giao dịch'" [class]="'card-head-lg'">
		<ng-container ktPortletTools>
		</ng-container>
	</kt-portlet-header>

	<kt-portlet-body>
		<div class="mat-table__wrapper">
			<mat-table class="lmat-elevation-z8"
				#table
				[dataSource]="dataSource"
				matSort
				#sort1="matSort"
				matSortActive="id"
				matSortDirection="asc"
				matSortDisableClear 
				*ngIf="dataSource$ | async as dataSource">

				<ng-container matColumnDef="id">
					<mat-header-cell *matHeaderCellDef mat-sort-header>STT</mat-header-cell>
					<mat-cell *matCellDef="let account">{{account.id}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="accountNumber">
					<mat-header-cell *matHeaderCellDef mat-sort-header>Số tài khoản</mat-header-cell>
					<mat-cell *matCellDef="let account">{{account.accountNumber}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="card">
					<mat-header-cell *matHeaderCellDef mat-sort-header>số thẻ</mat-header-cell>
					<mat-cell *matCellDef="let account" class="{{getClass()}}">{{account.card.cardNumber}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="amount">
					<mat-header-cell *matHeaderCellDef mat-sort-header>số dư</mat-header-cell>
					<mat-cell *matCellDef="let account">{{getAmount(account.amount)}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="member">
					<mat-header-cell *matHeaderCellDef mat-sort-header>Hạng thẻ</mat-header-cell>
					<mat-cell *matCellDef="let account" class="{{getClass()}}">{{getMember()}}</mat-cell>
				</ng-container>

				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

				<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
			</mat-table>
		</div>
		<div class="mat-table__bottom" *ngIf="dataSource$ | async as dataSource">
			<mat-paginator [pageSize]="10" [pageSizeOptions]="[10]" [length]="dataSource.length" [showFirstLastButtons]="true"></mat-paginator>
		</div>
	</kt-portlet-body>
</kt-portlet>