<kt-portlet>
  <kt-portlet-header title="{{ 'TTTK' | translate }}" [class]="'card-head-lg'">
    <ng-container ktPortletTools> </ng-container>
  </kt-portlet-header>

  <kt-portlet-body>
    <div class="mat-table__wrapper">
      <mat-table
        class="lmat-elevation-z8"
        #table
        [dataSource]="dataSource"
        matSort
        #sort1="matSort"
        matSortActive="id"
        matSortDirection="asc"
        matSortDisableClear
        *ngIf="dataSource$ | async as dataSource"
      >
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef>STT</mat-header-cell>
          <mat-cell *matCellDef="let account; let i = index">{{ i + 1 }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="accountNumber">
          <mat-header-cell *matHeaderCellDef>{{ 'STK' | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let account">{{ formatNumber2(account.accountNumber) }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="card">
          <mat-header-cell *matHeaderCellDef>{{ 'ST' | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let account">{{ formatNumber2(account.card.cardNumber) }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="amount">
          <mat-header-cell *matHeaderCellDef>{{ 'SD' | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let account">{{ formatNumber(getAmount(account.amount)) }} VNĐ</mat-cell>
        </ng-container>

        <ng-container matColumnDef="member">
          <mat-header-cell *matHeaderCellDef>{{ 'HT' | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let account" class="{{ getClass() }}">{{ getMember() }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>Hành động</mat-header-cell>
          <mat-cell *matCellDef="let account">
            <button (click)="lock(account)" class="btn btn-danger">
              Khoá thẻ
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
    </div>
  </kt-portlet-body>
</kt-portlet>
