<div class="container">
  <mat-card class="fix-ht">
    <h1 class="title d-flex align-items-center justify-content-center">{{ 'COMMON.BTN.HSV' | translate }}</h1>
    <div class="title-content">{{ 'INFO_USER_VAY' | translate }}</div>
    <form [formGroup]="formId">
      <div>
        <div class="label-left">Họ và tên</div>
        <input type="text" class="input select" formControlName="name" required />
      </div>
      <div>
        <div class="label-left">Số điện thoại</div>
        <input type="text" class="input select" formControlName="phone" required />
      </div>
      <div>
        <div class="label-left">Địa chỉ</div>
        <input type="text" class="input select" formControlName="address" required />
      </div>
      <div>
        <div class="label-left">Số CMND/Hộ chiếu</div>
        <input type="text" class="input select" formControlName="idCardNumber" required />
      </div>
    </form>
    <div class="title-content">{{ 'INFO_VAY' | translate }}</div>
    <form [formGroup]="formId2">
      <div>
        <div class="label-left">Số tiền cần vay</div>
        <div class="select">
          <div class="d-flex">
            <input type="text" class="input input-vnd" formControlName="amount" (keyup)="onKeyMoney()" required />
            <div class="vnd">VNĐ</div>
          </div>
        </div>
      </div>
      <div>
        <div class="label-left">Mục đích vay</div>
        <input type="text" class="input select" formControlName="description" />
      </div>
      <div *ngIf="loan$ | async">
        <div class="label-left">Thời gian vay</div>
        <ng-select
          [items]="loans"
          [clearable]="false"
          placeholder="{{ 'CHOISE_STK' | translate }}"
          formControlName="time"
          class="select"
          bindLabel="months"
          bindValue="id"
          [searchable]="false"
          (change)="changeLs()"
        >
        </ng-select>
      </div>
      <div>
        <div class="label-left">Lãi suất</div>
        <input type="text" class="input select" formControlName="ls" disabled />
      </div>
      <div *ngIf="userIn$ | async">
        <div class="label-left">Tài khoản nhận tiền</div>
        <ng-select
          [items]="userIn"
          [clearable]="false"
          placeholder="{{ 'CHOISE_STK' | translate }}"
          formControlName="tk"
          class="select"
          bindLabel="stk"
          bindValue="id"
          [searchable]="false"
        >
        </ng-select>
      </div>
      <!-- <div>
        <div class="label-left">Mỗi tháng hoàn trả</div>
        <input type="text" class="input select" formControlName="money"  required />
      </div> -->
      <div class="d-flex justify-content-end" *ngIf="!isTstc">
        <button mat-raised-button color="primary" (click)="create()">Tạo mới hồ sơ vay tiền</button>
      </div>
      <div *ngIf="isTstc">
        <div class="label-left">Tài sản thế chấp</div>
        <button mat-raised-button color="primary" (click)="show()">Thêm tài sản thế chấp</button>
        <div class="tstc">
          <ng-container *ngFor="let hs of listHsv">
            <a class="link-tstc">{{ hs.name }}</a>
          </ng-container>
        </div>
        <div class="d-flex justify-content-end">
          <button mat-raised-button color="primary" (click)="update()">Duyệt tài sản thế chấp</button>
        </div>
      </div>
    </form>
  </mat-card>
</div>
