<div class="card card-custom" [ngClass]="{ 'card-body-progress card-body-progress-overlay': viewLoading }">
    <div class="card-header">
      <div class="card-title">
        <h3 class="card-label">Nhập lý do từ chối</h3>
      </div>
    </div>
    <div class="form">
      <div class="card-body">
        <div class="card-body-progress">
          <mat-spinner [diameter]="20"></mat-spinner>
        </div>
        <form [formGroup]="formId">
          <div class="form-group row">
            <div class="col-3"></div>
            <div class="col-6">
              <div class="mb-3">
                <input type="text" class="input input-vnd" formControlName="otp" required />
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-between">
          <div class="mr-2"></div>
          <div>
            <button mat-button (click)="onNoClick()">Huỷ</button>&nbsp;
            <button mat-button (click)="onYesClick()" color="primary" cdkFocusInitial [disabled]="viewLoading">Tiếp tục</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  